<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/site.webmanifest">
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#333333">
    <meta name="msapplication-TileColor" content="#333333">
    <meta name="theme-color" content="#333333">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inffinity Lounge</title>
    <script src="./menu.js" ></script>
    <script src="./scroll.js" ></script>
    <link rel="stylesheet" href="./font/font.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <script src="https://unpkg.com/vue"></script>
    <span id="swipe">
        <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_pegzbow7.json" background="transparent" speed="1"  loop  autoplay></lottie-player>
    </span>

    <header>
        <lottie-player id="header-logo" src="https://assets7.lottiefiles.com/private_files/lf30_3l07yudt.json"  onclick="ScrollToMenu()" background="transparent"   speed="1" loop autoplay></lottie-player>
    </header>

    <nav>
        <img id="logo" src="./img/inffiniti-logo.svg" alt="Inffinity Logo Логотип Лого">
    </nav>

    <span id="languages">
        <img onclick="language('en')" src="./flags/united-kingdom.png" class="flags" alt="Ангилйский Язык">
        <img onclick="language('ru')" src="./flags/russia.png" class="flags" alt="Русский Язык">
        <!-- <img onclick="language('md')" src="./flags/moldova.png" class="flags" alt="Молдавский Язык"> -->
    </span>

    <main id="main">

        <!-- Русский Язык -->
        <section v-if=" language == 'ru' " v-for="page in menu.pages" v-bind:style="page.background">
            <br>
            <div v-for="block in page.blocks" class="column">
                <span class="title-span">
                    <img  v-if="block.adult" class="adult" src="./img/18+.svg" alt="18+">
                    <h1>{{block.ru_title}}</h1>
                </span>
               <span v-for="position in block.positions" class="column">
                    <br> 
                    <span class="position">
                        <span class="name">
                            <h2>{{position.ru_name}} <small> &nbsp; {{position.sub_ru_name}}</small> </h2>
                            <small class="description">{{position.ru_description}}</small>
                        </span>
                        <h2 v-if="position.cost">{{position.cost}} {{menu.cost}}</h2>
                    </span>
                </span>
            </div>
        </section>

        <!-- Молдавский язык -->
        <section v-if=" language == 'md' " v-for="page in menu.pages" v-bind:style="page.background">
            <br>
            <div v-for="block in page.blocks" class="column">
                <span class="title-span">
                    <img  v-if="block.adult" class="adult" src="./img/18+.svg" alt="18+">
                    <h1>{{block.md_title}}</h1>
                </span>
               <span v-for="position in block.positions" class="column">
                    <br> 
                    <span class="position">
                        <span class="name">
                            <h2>{{position.md_name}} <small> &nbsp; {{position.sub_md_name}}</small> </h2>
                            <small class="description">{{position.md_description}}</small>
                        </span>
                        <h2 v-if="position.cost">{{position.cost}} {{menu.cost}}</h2>
                    </span>
                </span>
            </div>
        </section>

        <!-- Английский Язык -->
        <section v-if=" language == 'en' " v-for="page in menu.pages" v-bind:style="page.background">
            <br>
            <div v-for="block in page.blocks" class="column">
                <span class="title-span">
                    <img  v-if="block.adult" class="adult" src="./img/18+.svg" alt="18+">
                    <h1>{{block.en_title}}</h1>
                </span>
               <span v-for="position in block.positions" class="column">
                    <br> 
                    <span class="position">
                        <span class="name">
                            <h2>{{position.en_name}} <small> &nbsp; {{position.sub_en_name}}</small> </h2>
                            <small class="description">{{position.en_description}}</small>
                        </span>
                        <h2 v-if="position.cost">{{position.cost}} {{menu.cost}}</h2>
                    </span>
                </span>
            </div>
        </section>

    </main>

    <script src="main.js"></script>
</body>
</html>