body {
    margin: 0;
    background-color: #333333;
    padding-bottom: 20px;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'menu-font';
}

h1 , h2 , h3,  small {
    font-weight: normal;
    color: white;
}

#swipe {
    width: 10%;
    position: fixed;
    bottom: 5%;
    right: 5%;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./backgrounds/starts.svg');
}

#header-logo {
    height: fit-content;
    width: 30%;
    background-color: #333333;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

#logo {
    /* padding-top: 5%; */
    width: 40%;
    /* padding-bottom: 5%; */
}

#languages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
}

.flags {
    cursor: pointer;
    margin: 10px;
    width: 50px;
}


main {
    width: 100%;
}

section {
    width: 100%;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
}

h1 {
    margin: auto;
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}


.column {
    margin: auto;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.position {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.adult {
    width: 70px;
}


@media screen and (max-width: 1023px) {

    header {
        padding-bottom: 10vh;
    }

    #swipe {
        width: 15%;
    }

    #logo {
        width: 100%;
    }

    .flags {
        width: 30px;
    }

    h1 {
        font-size: 22px;
    }
    
    h2 {
        font-size: 15px;
    }

    small {
        font-size: 11px;
    } 

    section {
        background-size: cover;
    }

    #header-logo {
        width: 75%;
    }

    .position  {
        width: 98%;
    }
    
    .adult {
        width: 50px;
    }

    .name {
        max-width: 63%;
    }
    
}